gemmi==0.2.7
torch==1.2.0
numpy==1.16.0
tqdm==4.25.0
tensorflow_gpu==1.14.0
# you may need to install this with the following command:
# $ pip install torch-scatter==latest+${CUDA} -f https://pytorch-geometric.com/whl/torch-1.4.0.html
# cu101 should be replaced with should be replaced by either cpu, cu92, cu100 or cu101 depending on your PyTorch installation.
torch-scatter==1.2.0
fairseq==0.6.2
pandas==0.24.0
scipy==1.1.0
easydict==1.9